html {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.not-found {
	display: flex;
	width: 80vw;
	max-width: 400px;
	aspect-ratio: 1 / 1;
	border-width: clamp(5px, 2vw, 10px);
	border-style: solid;
	border-color: #2c3e50;
	margin: 10vh auto;
	border-radius: 50%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
	box-sizing: border-box;
}

.not-found h1 {
	font-size: clamp(2rem, 1.5rem + 8vw, 5rem);
	font-weight: bold;
	color: #2c3e50;
	margin: 0;
}

.not-found p {
	font-size: clamp(0.5rem, 0.5rem + 3vw, 2rem);
	font-weight: bold;
	color: #009d62;
	margin: 10px 0 0;
}

.main {
	flex: 1;
	padding-top: 30px;
}

.bg-dark {
	background-color: #e0e6ee;
	padding-bottom: 70px;
}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important; /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important; /* 3 */
}

.main-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 20px;
}

.main-nav a {
	font-weight: bold;
	color: #2c3e50;
}

.main-nav a.router-link-exact-active {
	color: #42b983;
}

.main-nav-item {
	font-size: 1.1rem;
	text-decoration: none;
	margin-right: 0.5rem;
}

.main-nav-item:first-child i {
	font-size: 1.3rem;
	color: #9eadba;
	padding: 10px;
	border-radius: 50%;
	background-color: #e0e6ee;
}

.main-nav-item:last-child i {
	font-size: 1.5rem;
	padding: 10px;
	border-radius: 50%;
}

.main-nav-item i {
	margin-right: 9px;
}

.main-nav-item:hover {
	text-decoration: underline;
}

.main-nav-logo {
	display: flex;
	align-items: center;
}

.main-nav-logo-image {
	max-width: 100%;
	width: 200px;
}

.hero {
	background-image: url('../img/bank-tree.jpeg');
	background-position: 0 -50px;
	background-size: cover;
	background-repeat: no-repeat;
	height: 300px;
	position: relative;
}

.hero-content {
	position: relative;
	top: 2rem;
	width: 200px;
	background: white;
	padding: 2rem;
	text-align: left;
	margin: 0 auto;
}

.hero-content .subtitle {
	font-weight: bold;
	font-size: 1rem;
	margin: 0;
}

.hero-content .text {
	margin-bottom: 0;
	font-size: 0.9rem;
}

@media (min-width: 920px) {
	.hero {
		height: 400px;
		background-position: 0% 33%;
	}

	.hero-content {
		position: absolute;
		top: 50px;
		right: 50px;
		width: 300px;
		margin: 2rem;
	}

	.hero-content .subtitle {
		font-size: 1.5rem;
	}

	.hero-content .text {
		font-size: 1.2rem;
	}
}

.features {
	display: flex;
	flex-direction: column;
}

@media (min-width: 920px) {
	.features {
		flex-direction: row;
	}
}

.feature-icon {
	width: 100px;
	border: 10px solid #00bc77;
	border-radius: 50%;
	padding: 1rem;
}

.feature-item {
	flex: 1;
	padding: 2.5rem;
}

.feature-item-title {
	color: #222;
	font-size: 1.25rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
}

.edit-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 1rem;
}

.edit-form-inputs {
	display: flex;
	gap: 1rem;
	margin-bottom: 1rem;
}

.edit-form input {
	width: 200px;
	padding: 8px;
	font-size: 1rem;
	border: 3px solid #ccc;
	border-radius: 4px;
}
.edit-form input:focus {
	border-color: #6457f6;
}

.edit-form-buttons {
	display: flex;
	gap: 1rem;
}

.edit-form button {
	border: 3px solid rgba(100, 87, 246, 0.5);
	background-color: white;
	border-radius: 5px;
	color: #6457f6;
	font-weight: bold;
	padding: 10px;
	width: 120px;
	cursor: pointer;
}

.edit-form button:hover {
	background-color: #6457f6;
	color: white;
}

.edit-form button[type='button'] {
	background-color: white;
	color: #6457f6;
}

.edit-form button[type='button']:hover {
	background-color: #6457f6;
	color: white;
}

.error-message {
	color: red;
	font-weight: bold;
	font-size: 1rem;
	margin: 0.2rem;
	opacity: 0;
	transform: translateY(-10px);
	animation: fadeInUp 0.3s ease forwards;
}

@keyframes fadeInUp {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.input-wrapper {
	margin-bottom: 1rem;
}

.sign-in-button {
	width: 100%;
	padding: 8px;
	font-size: 1.1rem;
	font-weight: bold;
	margin-top: 1rem;
	border-color: #6457f6;
	background-color: #6457f6;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	text-decoration: none;
}

.sign-in-button:hover {
	background-color: #5549d4;
	border-color: #5549d4;
	transition: background-color 0.3s ease;
}

.sign-in-content {
	box-sizing: border-box;
	background-color: white;
	width: 300px;
	margin: 0 auto;
	margin-top: 3rem;
	padding: 2rem;
}

.sign-in-icon {
	font-size: 5rem;
}

.input-remember {
	display: flex;
}

.input-remember label {
	margin-left: 0.25rem;
}

.input-wrapper {
	display: flex;
	flex-direction: column;
	text-align: left;
	margin-bottom: 1rem;
}

.input-wrapper label {
	font-weight: bold;
}

.input-wrapper input {
	padding: 5px;
	font-size: 1.2rem;
}

.footer {
	display: flex;
	justify-content: center;
	border-top: 2px solid #ccc;
	padding: 2rem 0 1.5rem;
}

.footer-text {
	margin: 0;
	padding: 0;
}

.account {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 5px;
	border: 3px solid #ccc;
	background-color: #fff;
	width: 80%;
	margin: 0 auto;
	flex-direction: column;
	padding: 1.5rem;
	box-sizing: border-box;
	text-align: left;
	margin-bottom: 2rem;
}

.account-amount {
	margin: 0;
	font-size: 2.5rem;
	font-weight: bold;
}

.account-amount-description {
	margin: 0;
}

.account-title {
	margin: 0;
	padding: 0;
	font-size: 1rem;
	font-weight: normal;
}

.account-content-wrapper {
	width: 100%;
	flex: 1;
}

.edit-button {
	border-color: #00bc77;
	background-color: #00bc77;
	color: #fff;
	font-weight: bold;
	padding: 10px;
}

.header {
	margin-bottom: 2rem;
}

.transaction-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 8px;
	font-size: 1.1rem;
	font-weight: bold;
	border-radius: 5px;
	border: 2px solid #6457f6;
	background-color: #6457f6;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	transition:
		background-color 0.3s ease,
		border-color 0.3s ease;
}

.transaction-button:hover {
	background-color: #5549d4;
	border-color: #5549d4;
}

.transaction-header,
.transaction-container {
	width: 80%;
	margin: 0 auto;
}

.transaction-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.8rem 1rem;
	font-weight: bold;
	color: #2c3e50;
}

.transaction-container {
	background-color: #fff;
	border: 2px solid #ccc;
	border-top: none;
	border-radius: 0 0 5px 5px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.transaction-header span,
.transaction-main span {
	padding: 0 0.5rem;
}

.transaction-header .dropdown-arrow,
.transaction-main .dropdown-arrow {
	flex: 0 0 20px;
	text-align: center;
}

.transaction-header .transaction-date,
.transaction-main .transaction-date {
	flex: 0 0 20%;
}

.transaction-header .transaction-description,
.transaction-main .transaction-description {
	flex: 0 0 30%;
}

.transaction-header .transaction-amount,
.transaction-header .transaction-balance,
.transaction-main .transaction-amount,
.transaction-main .transaction-balance {
	flex: 0 0 15%;
	text-align: right;
}

.transaction-balance {
	padding-right: 20px;
}

.transaction {
	border-bottom: 3px solid #ccc;
	padding: 0.8rem 1rem;
	cursor: pointer;
}

.transaction:last-child {
	border-bottom: none;
}

.transaction-main {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.transaction-date,
.transaction-description,
.transaction-amount,
.transaction-balance {
	flex: 1;
	padding: 0 0.5rem;
}

.transaction-date {
	flex: 0 0 20%;
}

.transaction-description {
	flex: 0 0 30%;
}

.transaction-amount,
.transaction-balance {
	flex: 0 0 15%;
	text-align: right;
}

.dropdown-arrow {
	font-size: 1.2rem;
	transition: transform 0.3s ease;
	text-align: center;
}

.dropdown-arrow.expanded {
	transform: rotate(90deg);
}

.transaction-details {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	align-items: start;
	padding: 1rem;
}

.transaction-details p {
	margin: 3px 0;
}

.transaction-total {
	position: relative;
	bottom: 1.7rem;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.4rem;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	text-align: center;
	margin-bottom: 7rem;
}

.transaction-total h2 {
	font-size: 1rem;
	margin: 0;
	color: #2c3e50;
}

.transaction-total h3 {
	font-size: 1rem;
	margin: 0;
	color: #2c3e50;
}

.transaction-total p {
	margin: 0;
}

.transaction-total-amount {
	font-size: 2.3rem;
	font-weight: 900;
}

@media (min-width: 720px) {
	.account {
		flex-direction: row;
	}

	.account-content-wrapper.cta {
		flex: 0;
	}

	.transaction-button {
		width: 200px;
	}
}

@media (max-width: 550px) {
	.transaction-date,
	.transaction-description,
	.transaction-amount,
	.transaction-balance {
		flex: 1 1 100%;
		gap: 1rem;
	}

	.transaction-header {
		display: none;
	}

	.transaction-container {
		width: 95%;
	}

	.transaction {
		padding: 1rem;
		border-bottom: 1px solid #ccc;
	}

	.transaction-main {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 0.5rem;
	}

	.transaction-main span {
		display: flex;
	}

	.transaction-main span::before {
		content: attr(data-label);
		font-weight: bold;
		font-size: 0.8rem;
		color: #666;
	}

	.dropdown-arrow {
		display: none;
	}

	.transaction-total {
		width: 95%;
		margin: 0 auto 1rem;
		padding: 1rem;
	}

	.transaction-total h2,
	.transaction-total h3 {
		font-size: 0.9rem;
	}

	.transaction-total-amount {
		font-size: 1.8rem;
	}
}

@media (max-width: 400px) {
	.transaction-total {
		width: 90%;
	}

	.transaction-main {
		display: grid;
		grid-template-columns: none;
		gap: 0.5rem;
	}
}

.edit-button {
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;
	margin-left: 0.5rem;
	color: #6457f6;
}

.editable-field input {
	margin-right: 0.5rem;
	padding: 0.25rem;
}

.editable-field button {
	margin-right: 0.5rem;
	padding: 0.25rem 0.5rem;
	color: black;
	font-size: 1rem;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: transform 0.3s ease;
	border: 1px solid white;
}

.editable-field span {
	border: 1px solid white;
}

.editable-field button:hover {
	background-color: white;
	border: 1px solid #000000;
}
